*{
  margin: 0;
  padding: 0;
}

:root{
  --bg-tom: #201a2b;
  --fg-tom: #f2e9e4;
  --bg2-tom: #330942;
  --fg2-tom: #c9ada7;
  --med-tom: #9a8c98;
}

body,html{
  background-color: var(--bg-tom)
}

.dark {
  background-color : var(--bg2-tom);
  color: var(--fg-tom);
}

.centered{
  display:flex;
  align-items:center;
  justify-content:center;
  margin : 5vh;
  height : auto
}

.dropzone-content{
  display:grid;
  place-items:center;
  margin: 3%;
  height:50%;
  width:90%;
  color:var(--fg-tom);
  border: 1px dashed var(--fg2-tom);
  transition:0.5s;
}

.dropzone-content:hover{
  color:#5AAD6A;
  transition:0.5s;
  border: 1px dashed #5AAD6A;
}
